div.wrapper {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
div.wrapper::after {
  content: '';
  background: url(./assets/money.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 80%;
  position: absolute;
  z-index: -99;
}
